<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LogPath" value="ErrorLogFile"/>
    <add key="clientKey" value="bf8913c1-fb8a-43b6-be00-f36387e80dda"/>
    <add key="ApiKey" value="09574e8c-94d7-4309-a566-43faf0712d4f"/>
    <add key="uri" value="https://sms.nettyfish.com/vendorsms/pushsms.aspx"/>
    <add key="senderid" value="SMSWEB"/>
    <add key="FromMail" value="rjanani.gt@gmail.com"/>
    <add key="Pwd" value="Glacier@123"/>
    <add key="Port" value="25" />
    <add key="Host" value="relay-hosting.secureserver.net" />
    <!--<add key="Port" value="587" />
    <add key="Host" value="smtp.gmail.com" />-->
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" targetFramework="4.6.1" />
    
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="server=198.71.225.55;User Id=eventdb;password=Glacier@1108;database=eventdb" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="conn" connectionString="server=localhost;User Id=root;password=Glacier@1108;database=eventmanagement" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>